@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
    background-color: #3c3c3c;
}

body.light {
    background-color: #ffffff;
}

.custom-white-text {
    color: #becbe4;
}

.custom-white-bg {
    background-color: #becbe4;
}

.custom-blue-text {
    color: #798cc6;
}

.custom-blue-bg {
    background-color: #5c6786;
}
